:root {
    /*Colors*/
    --main-black: #000000;
    --main-pink: #ff1493;
    --secundary-pink: #f08080;
    --light-purple: #d8bfd8;
    --dark-purple: #570657;


    /*Sizes*/
    --main-margin: 1rem;
    --main-padding: 6rem;
    --secondary-margin: 3rem;
    --main-mobile-padding: 2rem;
}

@font-face {
    font-family: stevenfont;
    src: url(./assets/StevenFont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
    color: var(--main-black);
}

* img {
    width: 100%;
    height: auto;
}

body {
    width: 100 vw;
    height: 100 vh;
    max-width: 100%;
    max-height: 100%;
    background-image:url(./assets/fondo.png);
    font-size: 1rem;
}

main {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: stevenfont;
    color:goldenrod;
}

.logo {
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: var(--dark-purple);
}

span {
    font-family: stevenfont;
    color: var(--light-purple);
}

span a {
    font-family: stevenfont;
}

button {
    border-radius: 10px;
    color: var(--light-purple);
}

button:hover{
    border-color: var(--main-pink);
    background-color: var(--secundary-pink);
}
.transparentbox {
    background-color:#fafafa;
    opacity: 0.6;
    border-radius: 3px;
}

.transparentbox p {
    font-weight: bolder;
    color: #000000;
    font-size: 10px;
    text-align: center;
}

/* Mobile */
@media (min-width: 320px){
    .headercontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--main-mobile-padding);
    }

    .headercontent h1 {
        font-size: 15px;
    }

    .headercontent div:first-child {
        width: 30%;
    }

    .headercontent div:last-child {
        width: 18%;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 2rem;
    }

    .sectioncontent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: var(--main-mobile-padding);
    }

    .sectioncontent div {
        margin-bottom: 10px;
    }

    .image2 {
        border-radius: 5%;
    }

    .Footercontent {
        display: flex;
        justify-content: space-between;
        padding: var(--main-mobile-padding);
    }

    .Footercontent span {
        font-size: 10px;
    }

    .Footercontent div:first-child {
        width: 18%;
    }

    .Footercontent div:last-child {
        width: 10%;
    }


}


/*Tablet*/
@media (min-width: 768px){

    .headercontent h1 {
        font-size: 35px;
    }

    .headercontent div:first-child {
        width: 40%;
    }

    .headercontent div:last-child {
        width: 10%;
    }
}

/*Deskpot*/
@media (min-width: 1200px){
    .headercontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}