/*Global Styles*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: stevenfont;
    src: url(./assets/StevenFont.ttf);
}

body {
    width: 100 vw;
    height: 100 vh;
    background-image:url(./assets/fondo.png);
}

h1 {
    font-size: 30px;
}

p {
    justify-content: center;
    padding: 15px;
}

a:link{
    text-decoration: none;
}

button {
    border-radius: 10px;
    padding: 5px;
    color: thistle;
    font-size: 18px;
}

button:hover{
    border-color: deeppink;
    background-color: lightcoral;
}

.image {
    width: 150px;
    height: auto;
}

.image img {
    width: 70%;
    height: auto;
    border-radius: 40%;
}

.image2 {
    width: 250px;
    height: auto;
    padding: 35px;
}

.image2 img{
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.imageFoot {
    width: 150px;
    height: auto;
}

.imageFoot img {
    width: 40%;
    height: auto;
    border-radius: 40%;
}

/*Header*/
header {
    margin: 15px 10px;
}

header h1 {
    font-family: stevenfont;
    color:goldenrod;
}

.headercontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .image {
   margin: 35px 25px;
}

/*Nav*/
nav {
    padding: 15px 35px;
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.personajes {
    background-color: lightpink;
}

.historia {
    background-color:lightseagreen;
}
.autora {
    background-color:rgb(177, 63, 177);
}

/*Section Inicio*/
.sectioncontent {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.transparentbox {
    margin: 30px;
    background-color:#fafafa;
    border: 1px solid black;
    opacity: 0.6;
}

.transparentbox p {
    font-weight: bolder;
    color: #000000;
    font-size: 17px;
}

/*Section Perosonajes*/
.sectioncontent1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 35px;
}

.personaje1 img {
    width: 180px;
    height: auto;
}

.personaje2 img {
    width: 180px;
    height: auto;
}

.personaje3 img {
    width: 180px;
    height: auto;
}

.personaje4 img {
    width: 180px;
    height: auto;
}

.articlecontet {
    display: flex;
    flex-direction: row;
    text-align: end;
}

/*Section Autora*/
.sectioncontent2 {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

/*Footer*/
footer {
    padding: 40px;
}

.Footercontent {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
